@import "tailwindcss";

@plugin 'tailwindcss-animate';

@theme {
	--color-background: #13111c;
	--color-foreground: #ffffff;
	--color-card: #1a1a1a;
	--color-card-foreground: #ffffff;
	--color-popover: #1c1825;
	--color-popover-foreground: #ffffff;
	--color-primary: #6b4de6;
	--color-primary-foreground: #ffffff;
	--color-secondary: #2a2438;
	--color-secondary-foreground: #6b4de6;
	--color-muted: #1a1a1a;
	--color-muted-foreground: #a1a1aa;
	--color-accent: #3b82f6;
	--color-accent-foreground: #ffffff;
	--color-destructive: #ff4747;
	--color-destructive-foreground: #ffffff;
	--color-border: #2a2438;
	--color-input: #2a2438;
	--color-ring: #6b4de6;
	--color-chart-1: #6b4de6;
	--color-chart-2: #ff9666;
	--color-chart-3: #9b7aff;
	--color-chart-4: #ffb599;
	--color-chart-5: #4b36a6;

	--radius-lg: 0.5rem;
	--radius-md: calc(0.5rem - 2px);
	--radius-sm: calc(0.5rem - 4px);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer utilities {
	body {
		font-family: "JetBrains Mono", monospace;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
